In [1]:
import fastai

In [2]:
from fastai.imports import *

In [5]:
import pandas as pd

In [104]:
data = pd.read_csv('data.csv')

In [105]:
data.head()

,State,SO2 Annual average (µg/m3),NO2 Annual average (µg/m3),PM10 Annual average (µg/m3),PM10 Std. Dev.,Rivers,Max,Min,Population Density,Latitude,Longitude,2011 (in millimetre)
0,Andhra Pradesh,7,19,77,28,"Godavari, Krishna, Penna",40,17,308,14.750429,78.570026,835.5
1,Arunachal Pradesh,6,14,74,42,Brahmaputra,36,8,17,27.100399,93.616601,1923.4
2,Assam,6,14,74,42,"Brahmaputra, Barak",36,11,398,26.749981,94.216667,1758.3
3,Bihar,5,47,174,104,"Ganga, Koshi, Ghaghara",42,12,1106,25.785414,87.479973,1217.3
4,Chattisgarh,12,27,173,18,"Mahanadi, Godavari",44,14,189,22.090420,82.159987,1313.0

In [106]:
columns = data.columns

In [107]:
dic = {}
for i in columns:
    if i!='States' and i!='Rivers':
        maxi = data[i].max()
        mini = data[i].min()
        dic[i] = (maxi,mini)

In [110]:
dic

{'State': ('West Bengal', 'Andhra Pradesh'),
 'SO2 Annual average (µg/m3)': (23, 2),
 'NO2 Annual average (µg/m3)': (57, 5),
 'PM10 Annual average (µg/m3)': (222, 42),
 'PM10 Std. Dev.': (185, 8),
 'Max': (45, 21),
 'Min': (23, -30),
 'Population Density': (11320, 17),
 'Latitude': (34.29995933, 8.900372741),
 'Longitude': (94.21666744, 72.13623),
 '2011 (in millimetre)': (4146.4, 216.5)}

In [111]:
data.describe()

,SO2 Annual average (µg/m3),NO2 Annual average (µg/m3),PM10 Annual average (µg/m3),PM10 Std. Dev.,Max,Min,Population Density,Latitude,Longitude,2011 (in millimetre)
count,29.000000,29.000000,29.000000,29.00000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000
mean,9.413793,22.275862,113.000000,45.37931,38.068966,9.206897,740.517241,23.611999,82.404971,1328.238793
std,5.967275,14.030316,46.536468,36.70482,6.502368,9.351773,2054.920221,6.100015,7.600871,982.329739
min,2.000000,5.000000,42.000000,8.00000,21.000000,-30.000000,17.000000,8.900373,72.136230,216.500000
25%,5.000000,12.000000,77.000000,23.00000,35.000000,6.000000,132.000000,21.300391,76.569993,637.900000
50%,10.000000,19.000000,96.000000,37.00000,40.000000,9.000000,308.000000,24.799971,78.570026,1122.100000
75%,13.000000,27.000000,156.000000,50.00000,43.000000,14.000000,551.000000,27.333330,88.616647,1708.200000
max,23.000000,57.000000,222.000000,185.00000,45.000000,23.000000,11320.000000,34.299959,94.216667,4146.400000

In [112]:
for i in range(0,29):
    for j in range(0,12):
        if j!=0 and j!=5 and j!=8:
            data.iloc[i,j] = (data.iloc[i,j]-dic[columns[j]][1])/(dic[columns[j]][0]-dic[columns[j]][1])

In [113]:
data.head()

,State,SO2 Annual average (µg/m3),NO2 Annual average (µg/m3),PM10 Annual average (µg/m3),PM10 Std. Dev.,Rivers,Max,Min,Population Density,Latitude,Longitude,2011 (in millimetre)
0,Andhra Pradesh,0.238095,0.269231,0.194444,0.112994,"Godavari, Krishna, Penna",0.791667,0.886792,308,0.230321,0.291380,0.157510
1,Arunachal Pradesh,0.190476,0.173077,0.177778,0.192090,Brahmaputra,0.625000,0.716981,17,0.716548,0.972824,0.434337
2,Assam,0.190476,0.173077,0.177778,0.192090,"Brahmaputra, Barak",0.625000,0.773585,398,0.702752,1.000000,0.392326
3,Bihar,0.142857,0.807692,0.733333,0.542373,"Ganga, Koshi, Ghaghara",0.875000,0.792453,1106,0.664776,0.694902,0.254663
4,Chattisgarh,0.476190,0.423077,0.727778,0.056497,"Mahanadi, Godavari",0.958333,0.830189,189,0.519302,0.453966,0.279015

In [114]:
for i in range(0,29):
    data.iloc[i,8] = (data.iloc[i,8]-dic[columns[8]][1])/(dic[columns[8]][0]-dic[columns[8]][1])

In [142]:
def distancefunc(i,j,data):
#     print(i,j)
    dist = 0
    for k in range(0,12):
#         print(k)
        if k!=0 and k!=5:
            dist = dist + abs(data.iloc[i][k]-data.iloc[j][k])
    match = 0
    a = data.iloc[i][5].split(', ')
    b = data.iloc[j][5].split(', ')
    for river in a:
        if river in b:
            match = match + 5
    if match == 0:
        dist += 5
    else:
        dist += 1/match
    return dist

In [121]:
list1 = []
for i in range(0,29):
    list1.append([i])

In [132]:
list1

[[0],
 [1],
 [2],
 [3],
 [4],
 [5],
 [6],
 [7],
 [8],
 [9],
 [10],
 [11],
 [12],
 [13],
 [14],
 [15],
 [16],
 [17],
 [18],
 [19],
 [20],
 [21],
 [22],
 [23],
 [24],
 [25],
 [26],
 [27],
 [28]]

In [144]:
while (len(list1)>5):
    
    x=0
    j=0
    mini=1000
    a=[]
    b=[]
    for k in range(0,29):
        for l in range(0,29):
            for m in list1:
                if k in m:
                    a = m
            for n in list1:
                if l in n:
                    b = n
            if (k!=l) and a!=b and distancefunc(k,l,data)<mini:
                mini = distancefunc(k,l,data)
                i = k
                j = l
    c = []
    d = []
    for m in list1:
        if i in m:
            c = m
    for n in list1:
        if j in n:
            d = n
    list1.remove(c)
    list1.remove(d)
    list1.append(c+d)

In [145]:
list1

[[13],
 [23],
 [1, 2, 16, 18],
 [5, 3, 28, 11, 0, 12, 24, 4, 20, 22, 7, 15, 14, 8, 26, 27, 9, 10, 21],
 [6, 17, 19, 25]]

In [148]:
list_final = []
for i in list1:
    l = []
    for j in i:
        l.append(data.iloc[j][0])
    list_final.append(l)

In [149]:
list_final

[['Kerala'],
 ['Sikkim'],
 ['Arunachal Pradesh', 'Assam', 'Manipur', 'Mizoram'],
 ['Delhi',
  'Bihar',
  'West Bengal',
  'Jharkhand',
  'Andhra Pradesh',
  'Karnataka',
  'Tamil Nadu',
  'Chattisgarh',
  'Orissa',
  'Rajasthan',
  'Gujarat',
  'Maharashtra',
  'Madhya Pradesh',
  'Haryana',
  'Uttar Pradesh',
  'Uttarakhand',
  'Himachal Pradesh',
  'Jammu & Kashmir',
  'Punjab'],
 ['Goa', 'Meghalaya', 'Nagaland', 'Tripura']]

In [150]:
import pickle

In [151]:
with open("final_list.txt", "wb") as fp:
    pickle.dump(list_final, fp)