In [12]:
riverdic = {'Ganges':[ 'Mandsaur', 'Ujjain', 'Shajapur', 'Rajgarh', 'Neemuch', 'Vidisha', 'Guna', 'Shivpuri', 'Datia', 'Gwalior', 'Morena', 'Sheopur', 'Bhind', 'Tikamgarh', 'Chhattarpur', 'Panna', 'Satna', 'Rewa', 'Ashoknagar', 'Shahdol', 'Sidhi', 'Annuppur', 'Umaria', 'Katni', 'Jabalpur','Mandla', 'Dindori', 'Dhar', 'Ratlam', 'Indore', 'Dewas', 'Sehore', 'Raisen', 'Sagar', 'Bhopal', 'Damoh'],'Narmada':['Katni','Jabalpur','Damoh','Narsimhapur','Raisen','Hoshangabad','Sehore','Dewas','Dhar','Alirajpur'],'Tapi':['Betul','Burhanpur'],'Mahi':['Alirajpur'], 'Betwa':['Vidisha','Tilkamgarh','Chhatarpur','Sagar','Bhopal','Raisen'], 'Ken':['Katni','Panna','Damoh'], 'Chambal':['Mandsaur','Ratlam','Rajgarh','Ujjain','Neemuch','Shajapur','Sheopur','Shivpuri','Guna','Indore','Raisen'], 'Son':['Sidhi','Umaria','Shahdol'], 'Tons':['Rewa','Satna'], 'Sindh':['Morena','Bhind','Gwalior','Datia'], 'Wainganga':['Balaghat','Chhindwara']}

In [13]:
riverdic_final = {}
for i in riverdic.keys():
    for j in riverdic[i]:
        if j not in riverdic_final.keys():
            riverdic_final[j] = []
            riverdic_final[j].append(i)
        else:
            riverdic_final[j].append(i)

In [3]:
import fastai

In [4]:
from fastai.imports import *

In [5]:
import pandas as pd

In [30]:
data = pd.read_csv('new_clustering.csv')

In [31]:
data.head()

,District Name,Population,Population Growth,Temperature Max,Temperature Min,Rainfall,Latitude,Longitude,AQI
0,Alirajpur,728999,19.45%,33.48,17.51,2.67,22.303301,74.359100,121.53
1,Anuppur,749237,12.30%,31.92,16.61,4.13,23.115179,81.700500,94.32
2,Ashoknagar,845071,22.66%,32.62,16.15,3.44,24.579901,77.728996,108.26
3,Balaghat,1701698,13.60%,33.24,16.15,3.08,21.812876,80.183830,153.80
4,Barwani,1385881,27.57%,32.59,16.15,2.09,22.035400,74.899803,108.00

In [34]:
for i in range(0,50):
#     print(data.iloc[i][2])
    data.iloc[i,2] = data.iloc[i,2][:-1]
    data.iloc[i,2] = float(data.iloc[i,2])

In [35]:
columns = data.columns

In [36]:
columns

Index(['District Name', 'Population', 'Population Growth', 'Temperature Max',
       'Temperature Min', 'Rainfall', 'Latitude', 'Longitude', 'AQI'],
      dtype='object')

In [37]:
dic = {}
for i in columns:
    if i!='District Name':
        maxi = data[i].max()
        mini = data[i].min()
        dic[i] = (maxi,mini)

In [38]:
dic

{'Population': (3276697, 570465),
 'Population Growth': (32.88, 12.3),
 'Temperature Max': (33.75, 31.92),
 'Temperature Min': (18.58, 16.15),
 'Rainfall': (4.39, 1.98),
 'Latitude': (26.585739, 21.311729),
 'Longitude': (82.666611, 74.3591),
 'AQI': (190.76, 40.8)}

In [39]:
data.describe()

,Population,Temperature Max,Temperature Min,Rainfall,Latitude,Longitude,AQI
count,5.000000e+01,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000
mean,1.452536e+06,32.538000,16.81520,3.098200,23.569039,78.090314,119.050800
std,5.772513e+05,0.439986,0.57796,0.599992,1.278977,2.228656,31.734284
min,5.704650e+05,31.920000,16.15000,1.980000,21.311729,74.359100,40.800000
25%,1.057694e+06,32.255000,16.41750,2.707500,22.688093,76.238556,96.647500
50%,1.359771e+06,32.425000,16.68000,3.075000,23.309200,77.854965,112.610000
75%,1.753294e+06,32.690000,17.06250,3.550000,24.527067,79.939735,148.255000
max,3.276697e+06,33.750000,18.58000,4.390000,26.585739,82.666611,190.760000

In [40]:
for i in range(0,50):
    for j in range(0,9):
        if j!=0:
            
            data.iloc[i,j] = (data.iloc[i,j]-dic[columns[j]][1])/(dic[columns[j]][0]-dic[columns[j]][1])

In [41]:
data.head()

,District Name,Population,Population Growth,Temperature Max,Temperature Min,Rainfall,Latitude,Longitude,AQI
0,Alirajpur,0.058581,0.347425,0.852459,0.559671,0.286307,0.188011,0.000000,0.538344
1,Anuppur,0.066059,0,0.000000,0.189300,0.892116,0.341950,0.883706,0.356895
2,Ashoknagar,0.101472,0.503401,0.382514,0.000000,0.605809,0.619675,0.405644,0.449853
3,Balaghat,0.418010,0.0631681,0.721311,0.000000,0.456432,0.095022,0.701140,0.753534
4,Barwani,0.301310,0.741983,0.366120,0.000000,0.045643,0.137215,0.065086,0.448119

In [12]:
for i in range(0,29):
    data.iloc[i,8] = (data.iloc[i,8]-dic[columns[8]][1])/(dic[columns[8]][0]-dic[columns[8]][1])

In [69]:
def distancefunc(i,j,data):
#     print(i,j)
    dist = 0
    for k in range(0,9):
#         print(k)
        if k!=0:
            dist = dist + abs(data.iloc[i][k]-data.iloc[j][k])
    match = 0
#     a = data.iloc[i][5].split(', ')
#     a=[]
#     if data.iloc[i][0] in riverdic_final.keys():
#         a = riverdic_final[data.iloc[i][0]]
#     b = data.iloc[j][5].split(', ')
    b = []
#     if data.iloc[j][0] in riverdic_final.keys():
#         b = riverdic_final[data.iloc[j][0]]
#     for river in a:
#         if river in b:
#             match = match + 2
#     if match == 0:
#         dist += 1
#     else:
#         dist += 1/match
    return dist

In [70]:
list1 = []
for i in range(0,50):
    list1.append([i])

In [71]:
list1

[[0],
 [1],
 [2],
 [3],
 [4],
 [5],
 [6],
 [7],
 [8],
 [9],
 [10],
 [11],
 [12],
 [13],
 [14],
 [15],
 [16],
 [17],
 [18],
 [19],
 [20],
 [21],
 [22],
 [23],
 [24],
 [25],
 [26],
 [27],
 [28],
 [29],
 [30],
 [31],
 [32],
 [33],
 [34],
 [35],
 [36],
 [37],
 [38],
 [39],
 [40],
 [41],
 [42],
 [43],
 [44],
 [45],
 [46],
 [47],
 [48],
 [49]]

In [72]:
while (len(list1)>20):
    
    x=0
    j=0
    mini=1000
    a=[]
    b=[]
    for k in range(0,50):
        for l in range(0,50):
            for m in list1:
                if k in m:
                    a = m
            for n in list1:
                if l in n:
                    b = n
            if (k!=l) and a!=b and distancefunc(k,l,data)<mini:
                mini = distancefunc(k,l,data)
                i = k
                j = l
    c = []
    d = []
    for m in list1:
        if i in m:
            c = m
    for n in list1:
        if j in n:
            d = n
    list1.remove(c)
    list1.remove(d)
    list1.append(c+d)

In [73]:
list1

[[3],
 [4],
 [5],
 [7],
 [8],
 [10],
 [14],
 [15],
 [17],
 [19],
 [21],
 [22],
 [23],
 [24],
 [35],
 [42],
 [47],
 [6, 18, 27, 12, 41],
 [2, 25, 1, 32, 11, 20, 28, 31, 48, 39, 9, 45, 30, 38, 43, 44, 34, 36],
 [0, 16, 49, 26, 29, 33, 13, 40, 46, 37]]

In [74]:
list_final = []
for i in list1:
    l = []
    for j in i:
        l.append(data.iloc[j][0])
    list_final.append(l)

In [75]:
list_final

[['Balaghat'],
 ['Barwani'],
 ['Betul'],
 ['Bhopal'],
 ['Burhanpur'],
 ['Chhindwara'],
 ['Dhar'],
 ['Dindori'],
 ['Guna'],
 ['Harda'],
 ['Indore'],
 ['Jabalpur'],
 ['Jhabua'],
 ['Katni'],
 ['Sagar'],
 ['Shivpuri'],
 ['Umaria'],
 ['Bhind', 'Gwalior', 'Morena', 'Datia', 'Sheopur'],
 ['Ashoknagar',
  'Mandla',
  'Anuppur',
  'Rajgarh',
  'Damoh',
  'Hoshangabad',
  'Narsimhapur',
  'Raisen',
  'Vidisha',
  'Shahdol',
  'Chhattarpur',
  'Tikamgarh',
  'Panna',
  'Seoni',
  'Sidhi',
  'Singrauli',
  'Rewa',
  'Satna'],
 ['Alirajpur',
  'East Nimar',
  'West Nimar',
  'Mandsaur',
  'Neemuch',
  'Ratlam',
  'Dewas',
  'Shajapur',
  'Ujjain',
  'Sehore']]

In [76]:
import pickle

In [77]:
with open("final_list.txt", "wb") as fp:
    pickle.dump(list_final, fp)

In [20]:
data

,State,SO2 Annual average (µg/m3),NO2 Annual average (µg/m3),PM10 Annual average (µg/m3),PM10 Std. Dev.,Rivers,Max,Min,Population Density,Latitude,Longitude,2011 (in millimetre)
0,Andhra Pradesh,0.238095,0.269231,0.194444,0.112994,"Godavari, Krishna, Penna",0.791667,0.886792,0.025745,0.230321,0.291380,0.157510
1,Arunachal Pradesh,0.190476,0.173077,0.177778,0.192090,Brahmaputra,0.625000,0.716981,0.000000,0.716548,0.972824,0.434337
2,Assam,0.190476,0.173077,0.177778,0.192090,"Brahmaputra, Barak",0.625000,0.773585,0.033708,0.702752,1.000000,0.392326
3,Bihar,0.142857,0.807692,0.733333,0.542373,"Ganga, Koshi, Ghaghara",0.875000,0.792453,0.096346,0.664776,0.694902,0.254663
4,Chattisgarh,0.476190,0.423077,0.727778,0.056497,"Mahanadi, Godavari",0.958333,0.830189,0.015217,0.519302,0.453966,0.279015
5,Delhi,0.142857,1.000000,1.000000,0.610169,Yamuna,0.958333,0.735849,1.000000,0.778344,0.230692,0.000000
6,Goa,0.380952,0.250000,0.322222,0.209040,-,0.583333,0.962264,0.033354,0.259517,0.076166,0.922644
7,Gujarat,0.619048,0.384615,0.255556,0.050847,"Narmada, Tapti, Gomti",0.916667,0.830189,0.025745,0.527924,0.000000,0.174915
8,Haryana,0.523810,0.384615,0.577778,0.237288,"Yamuna, Saraswati",0.958333,0.735849,0.049190,0.769683,0.221180,0.000000
9,Himachal Pradesh,0.047619,0.134615,0.255556,0.209040,"Yamuna, Sutlej, Ravi, Beas, Chenab",0.750000,0.622642,0.009378,0.874016,0.227820,0.212550
10,Jammu & Kashmir,0.142857,0.134615,0.361111,0.084746,"Jhelum, Indus, Sutlej, Ravi, Chenab",0.791667,0.000000,0.003450,1.000000,0.105543,0.230438
11,Jharkhand,1.000000,0.653846,0.861111,0.242938,Ganga,0.916667,0.792453,0.035123,0.586625,0.646896,0.269294
12,Karnataka,0.428571,0.307692,0.161111,0.152542,"Kaveri, Krishna",0.583333,0.867925,0.026719,0.144491,0.216652,1.000000
13,Kerala,0.095238,0.173077,0.000000,0.033898,Periyar,0.541667,1.000000,0.074582,0.000000,0.200800,0.718873
14,Madhya Pradesh,0.476190,0.250000,0.516667,0.254237,"Narmada, Tapti, Chambal, Son",0.916667,0.716981,0.019375,0.488198,0.180875,0.235375
15,Maharashtra,0.761905,0.538462,0.383333,0.237288,"Godavari, Krishna, Narmada, Tapti",1.000000,0.849057,0.030788,0.407481,0.046373,0.159393
16,Manipur,0.000000,0.019231,0.222222,0.163842,Barak,0.375000,0.622642,0.009820,0.625979,0.987924,0.050192
17,Meghalaya,0.714286,0.096154,0.261111,0.056497,-,0.166667,0.679245,0.010174,0.656315,0.894175,0.392326
18,Mizoram,0.000000,0.000000,0.083333,0.000000,Barak,0.375000,0.698113,0.003097,0.583081,0.932218,0.102833
19,Nagaland,0.000000,0.019231,0.222222,0.163842,-,0.208333,0.660377,0.009024,0.660114,0.995467,0.050192
20,Orissa,0.095238,0.269231,0.300000,0.112994,"Mahanadi, Brahmani",0.916667,0.792453,0.022383,0.429931,0.623348,0.275758
21,Punjab,0.380952,0.403846,0.633333,0.141243,"Sutlej, Ravi, Beas, Chenab, Jhelum",0.958333,0.660377,0.047244,0.890550,0.174080,0.080689
22,Rajasthan,0.238095,0.500000,0.683333,1.000000,"Chambal, Banas",0.958333,0.716981,0.016190,0.690941,0.113392,0.107229
23,Sikkim,0.714286,0.096154,0.261111,0.056497,Teesta,0.000000,0.603774,0.006105,0.725719,0.746381,0.545434
24,Tamil Nadu,0.380952,0.326923,0.194444,0.163842,Kaveri,0.750000,0.924528,0.047598,0.158271,0.317648,0.202880
25,Tripura,0.000000,0.000000,0.083333,0.000000,-,0.625000,0.830189,0.029461,0.588003,0.867001,0.050192
26,Uttar Pradesh,0.523810,0.480769,0.672222,0.175141,"Ganga, Yamuna, Gomti, Ghaghara, Chambal",1.000000,0.698113,0.071839,0.736217,0.267829,0.154953
27,Uttarakhand,0.904762,0.365385,0.644444,0.276836,"Ganga, Yamuna",0.708333,0.622642,0.015217,0.843322,0.267829,0.379577
28,West Bengal,0.428571,1.000000,0.472222,0.395480,"Ganga, Hugli, Teesta, Damodar",0.791667,0.830189,0.089445,0.538592,0.733397,0.370289